<div class="main-cont">
  <div class="title-cont">
    <span><h1>Pleased to meet you.</h1></span>
    <div class="scroll-down">
      <i class="fas fa-long-arrow-alt-down"></i>
    </div>
  </div>
  <div class="intro-about">
    <div class="descriptif">
      <div class="titre-about">
        <h2>Alicia Gaborit</h2>
        <div class="article-number" id="article-number-1">01</div>
      </div>
      <p>
        Recently graduated from a Master 2 in events and press relations, I decided to set up
        my own business to get back in touch with graphic design: my first passion in the
        communication business. Today I work with Smartbox as a community manager and graphic
        designer and with the young Belgian brand: Sienna & Friend's.
      </p>
    </div>
    <div class="descriptif-pic">
      <%= image_tag("about/Alicia_Picture_About.jpg", alt: "Alicia Gaborit") %>
    </div>
  </div>
  <div class="skills-about">
    <div class="skills-title">
      <h2>What I can do for <br>you.</h2>
      <div class="article-number" id="article-number-2">02</div>
    </div>
    <div class="skillset-grid">
      <div class="skillset-card">
        <div class="skill-info">
          <div class="skill-title">
            <strong>Adobe Photoshop</strong>
          </div>
          <div class="skill-descr">
            <small>lorem ipsum elaborate confusonem elaore eram erasis<br> erarem umanum est</small>
          </div>
          <div class="skill-link">
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="skill-pic">
          <img src="https://picsum.photos/200" alt="#">
        </div>
      </div>
      <div class="skillset-card">
        <div class="skill-info">
          <div class="skill-title">
            <strong>Adobe Illustrator</strong>
          </div>
          <div class="skill-descr">
            <small>lorem ipsum elaborate confusonem elaore eram erasis<br> erarem umanum est</small>
          </div>
          <div class="skill-link">
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="skill-pic">
          <img src="https://picsum.photos/200" alt="#">
        </div>
      </div>
      <div class="skillset-card">
        <div class="skill-info">
          <div class="skill-title">
            <strong>Adobe InDesign</strong>
          </div>
          <div class="skill-descr">
            <small>lorem ipsum elaborate confusonem elaore eram erasis<br> erarem umanum est</small>
          </div>
          <div class="skill-link">
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="skill-pic">
          <img src="https://picsum.photos/200" alt="#">
        </div>
      </div>
      <div class="skillset-card">
        <div class="skill-info">
          <div class="skill-title">
            <strong>Adobe After Effects</strong>
          </div>
          <div class="skill-descr">
            <small>lorem ipsum elaborate confusonem elaore eram erasis<br> erarem umanum est</small>
          </div>
          <div class="skill-link">
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="skill-pic">
          <img src="https://picsum.photos/200" alt="#">
        </div>
      </div>
      <div class="skillset-card">
        <div class="skill-info">
          <div class="skill-title">
            <strong>Charte graphique</strong>
          </div>
          <div class="skill-descr">
            <small>lorem ipsum elaborate confusonem elaore eram erasis<br> erarem umanum est</small>
          </div>
          <div class="skill-link">
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="skill-pic">
          <img src="https://picsum.photos/200" alt="#">
        </div>
      </div>
      <div class="skillset-card">
        <div class="skill-info">
          <div class="skill-title">
            <strong>UX / UI Design</strong>
          </div>
          <div class="skill-descr">
            <small>Design interfaces and user experiences that capture your audience.</small>
          </div>
          <div class="skill-link">
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="skill-pic">
          <img src="https://picsum.photos/200" alt="#">
        </div>
      </div>
    </div>
  </div>
  <div class="resume-about">
    <div class="resume-top">
      <div class="resume-title">
        <h2>Where I acquired<br>my skillset.</h2>
        <div class="article-number" id="article-number-2">03</div>
      </div>
      <div class="academic-info">
        <div class="resume-pic" id="pic-top">
          <%= image_tag("about/Alicia_Picture_About.jpg", alt: "Alicia Gaborit") %>
        </div>
        <div class="resume-asset">
          <h5></h5>
          <h4>Master 2 - Influence et stratégie de l’évènement | 2018 - 2019</h4>
          <h6>ISCOM PARIS - Ecole supérieure de communication et de publicité</h6>
        </div>
        <div class="resume-asset">
          <h5></h5>
          <h4>Master 1 - Communication et création digitale | 2017 - 2018</h4>
          <h6>ISCOM PARIS - Ecole supérieure de communication et de publicité</h6>
          <small>Premier prix de la créativité et de l’innovation du concours 2017 des micro-agences de l’Iscom pour l’entreprise Les Happycuriennes</small>
        </div>
        <div class="resume-asset">
          <h5></h5>
          <h4>DUT - Information et communication | 2015 - 2017</h4>
          <h6>DUT de Tourcoing, Université Lille 3</h6>
          <small>Vice présidente de l’association culturelle étudiante Com With US</small>
        </div>
      </div>
    </div>
    <div class="resume-bottom">
      <div class="academic-info" id="academic-bottom">
        <div class="resume-pic" id="pic-bottom">
          <%= image_tag("about/Alicia_Picture_About.jpg", alt: "Alicia Gaborit") %>
        </div>
        <div class="resume-asset">
          <h5></h5>
          <h4>Master 2 - Influence et stratégie de l’évènement | 2018 - 2019</h4>
          <h6>ISCOM PARIS - Ecole supérieure de communication et de publicité</h6>
        </div>
        <div class="resume-asset">
          <h5></h5>
          <h4>Master 1 - Communication et création digitale | 2017 - 2018</h4>
          <h6>ISCOM PARIS - Ecole supérieure de communication et de publicité</h6>
          <small>Premier prix de la créativité et de l’innovation du concours 2017 des micro-agences de l’Iscom pour l’entreprise Les Happycuriennes</small>
        </div>
        <div class="resume-asset">
          <h5></h5>
          <h4>DUT - Information et communication | 2015 - 2017</h4>
          <h6>DUT de Tourcoing, Université Lille 3</h6>
          <small>Vice présidente de l’association culturelle étudiante Com With US</small>
        </div>
      </div>
    </div>
  </div>
  <div class="experience-about">
    <div class="resume-title">
      <h2>What I have<br>achieved.</h2>
      <div class="article-number" id="article-number-4">04</div>
    </div>
    <div class="experience-content">
      <div class="data-about">
        <div class="data-number"><h2>5+</h2></div>
        <div class="data-title"><h4><strong>Years of <br>Experience</strong></h4></div>
      </div>
      <div class="data-about">
        <div class="data-number"><h2>32+</h2></div>
        <div class="data-title"><h4><strong>Graphic <br>Solutions</strong></h4></div>
      </div>
      <div class="data-about">
        <div class="data-number"><h2>6+</h2></div>
        <div class="data-title"><h4><strong>Companies <br>helped</strong></h4></div>
      </div>
    </div>
  </div>
  <div class="trusted-about">
    <div class="resume-title">
      <h2>They trusted me.</h2>
      <div class="article-number" id="article-number-5">05</div>
    </div>
    <div class="trusted-content">
      <div class="brand-card">
        <div class="brand-logo">
          <h4>That awesome logo</h4>
        </div>
        <div class="brand-title">
          <p>That awesome title</p>
        </div>
      </div>
      <div class="brand-card">
        <div class="brand-logo">
          <h4>That awesome logo</h4>
        </div>
        <div class="brand-title">
          <p>That awesome title</p>
        </div>
      </div>
      <div class="brand-card">
        <div class="brand-logo">
          <h4>That awesome logo</h4>
        </div>
        <div class="brand-title">
          <p>That awesome title</p>
        </div>
      </div>
      <div class="brand-card">
        <div class="brand-logo">
          <h4>That awesome logo</h4>
        </div>
        <div class="brand-title">
          <p>That awesome title</p>
        </div>
      </div>
      <div class="brand-card">
        <div class="brand-logo">
          <h4>That awesome logo</h4>
        </div>
        <div class="brand-title">
          <p>That awesome title</p>
        </div>
      </div>
      <div class="brand-card">
        <div class="brand-logo">
          <h4>That awesome logo</h4>
        </div>
        <div class="brand-title">
          <p>That awesome title</p>
        </div>
      </div>
    </div>
  </div>
</div>
