<div class="main-cont">
  <div class="title-cont">
    <h1>Pleased to meet you</h1>
    <div class="scroll-down">
      <i class="fas fa-long-arrow-alt-down"></i>
    </div>
  </div>
  <div class="intro-about">
    <div class="descriptif">
      <div class="titre-about">
        <h2>Alicia Gaborit</h2>
        <div class="article-number" id="article-number-1">01</div>
      </div>
      <p>
        Récemment diplômée d'un Master 2 en évènementiel et relation presse, j'ai décidé de me
        lancer à mon compte pour renouer avec le graphisme : ma passion première dans les métiers
        de la communication. Je collabore aujourd'hui avec Smartbox en tant que community manager
        et graphiste et avec la toute jeune marque belge : Sienna & Friend's.
      </p>
    </div>
    <div class="descriptif-pic">
      <%= image_tag("about/Alicia_Picture_About.jpg", alt: "Alicia Gaborit") %>
    </div>
  </div>
  <div class="skills-about">
    <div class="skills-title">
      <h2>What I can do for <br>you.</h2>
      <div class="article-number" id="article-number-2">02</div>
    </div>
    <div class="skillset-grid">
      <div class="skillset-card">
        <div class="skill-title">
          Recherche des missions en Adobe Photoshop
        </div>
        <div class="skill-descr">
          <small>lorem ipsum elaborate confusonem elaore eram erasis<br> erarem umanum est</small>
        </div>
        <div class="skill-link">
          <u>Read More</u>
        </div>
        <div class="skill-pic">
          <img src="https://picsum.photos/200" alt="#">
        </div>
      </div>
      <div class="skillset-card">
        <div class="skill-title">
          Adobe Illustrator
        </div>
        <div class="skill-descr">
          <small>lorem ipsum elaborate confusonem elaore eram erasis<br> erarem umanum est</small>
        </div>
        <div class="skill-link">
          <u>Read More</u>
        </div>
        <div class="skill-pic">
          <img src="https://picsum.photos/200" alt="#">
        </div>
      </div>
      <div class="skillset-card">
        <div class="skill-title">
          Adobe InDesign
        </div>
        <div class="skill-descr">
          <small>lorem ipsum elaborate confusonem elaore eram erasis<br> erarem umanum est</small>
        </div>
        <div class="skill-link">
          <u>Read More</u>
        </div>
        <div class="skill-pic">
          <img src="https://picsum.photos/200" alt="#">
        </div>
      </div>
      <div class="skillset-card">
        <div class="skill-title">
          Adobe After Effects
        </div>
        <div class="skill-descr">
          <small>lorem ipsum elaborate confusonem elaore eram erasis<br> erarem umanum est</small>
        </div>
        <div class="skill-link">
          <u>Read More</u>
        </div>
        <div class="skill-pic">
          <img src="https://picsum.photos/200" alt="#">
        </div>
      </div>
      <div class="skillset-card">
        <div class="skill-title">
          Charte graphique
        </div>
        <div class="skill-descr">
          <small>lorem ipsum elaborate confusonem elaore eram erasis<br> erarem umanum est</small>
        </div>
        <div class="skill-link">
          <u>Read More</u>
        </div>
        <div class="skill-pic">
          <img src="https://picsum.photos/200" alt="#">
        </div>
      </div>
      <div class="skillset-card">
        <div class="skill-title">
          Hello World
        </div>
        <div class="skill-descr">
                    <small>lorem ipsum elaborate confusonem elaore eram erasis<br> erarem umanum est</small>
        </div>
        <div class="skill-link">
          <u>Read More</u>
        </div>
        <div class="skill-pic">
          <img src="https://picsum.photos/200" alt="#">
        </div>
      </div>
    </div>
  </div>
</div>
