<div class="main-cont">
  <div class="contact-cont">
    <div class="contact-pic">
      <%= image_tag("about/Alicia_Picture_About.jpg", alt: "Alicia Gaborit") %>
    </div>
    <div class="contact-details">
      <h1>Get in Touch</h1>
      <div class="contact-links">
        <div class="contact-link-hover">
          <a href="mailto:gaborit.alicia@gmail.com?subject=Contact Request from Portfolio">gaborit.alicia@gmail.com</a>
        </div>
        <div class="contact-link-hover">
          <a href="tel:+33-6-86-31-72-15">+33 (0)6 86 31 72 15</a>
        </div>
      </div>
      <div class="contact-media-links">
        <div class="contact-link-hover">
          <a href="https://www.linkedin.com/in/alicia-gaborit-52476481/" target="_blank">LinkedIn</a>
        </div>
        <div class="contact-link-hover">
          <a href="https://dribbble.com/aliciaviolette" target="_blank">Dribbble</a>
        </div>
        <div class="contact-link-hover">
          <a href="https://www.malt.fr/profile/aliciagaborit" target="_blank">Malt</a>
        </div>
      </div>
    </div>
  </div>
</div>
